@import './../scss/config';

.about {
  display: flex;
  flex-direction: column;

  .about-me {
    padding-top: 20px;
    margin: auto;
    width: 80%;
    border: solid 1px rgb(14, 6, 0);
    padding: 10px;

    button {
      border: solid 1px rgb(14, 6, 0);
      padding: 10px;
      font-weight: 900;
    }

    .social-icons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      margin: auto;
      padding-left: 0;
      margin-top: 20px;
    }

    .skill-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
  }
}
