@import './../scss/config';

@media (max-width: 786px) {
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .about-me {
      padding-top: 20px;
      margin: auto;
      width: 80%;
      border: solid 1px rgb(14, 6, 0);
      // padding: 10px;
      border-left: solid 10px #2b08ed;
      margin-bottom: 100px;
      padding-bottom: 50px;
      padding-top: 50px;

      .about-me-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .custom-icon {
          font-size: 80px;
          padding-top: 80px;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .intro-text {
          font-size: 22px;
          padding: 20px;
        }

        .img-profile {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 35px;
          margin: auto;

          img {
            width: 80%;
            margin: auto;
            border-radius: 100%;
            border: solid 2px  rgb(0, 0, 0);
          }

          .res-mail {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 80%;
            gap: 10px;
            margin: auto;

            .my-resume {
              background-color: #070eec;
              border-radius: 20px;
              color: white;
              width: 100%;
              margin: auto;
              padding: 10px;
              font-size: 18px;
              font-weight: 900;
            }

            .mailto {
              border-radius: 20px;
              border: solid 1px #0905f0;
              font-size: 15px;
              padding: 8px;
              width: 100%;

              a {
                color: #000;
                text-decoration: none;
                font-size: 18px;
                font-weight: 900;
                margin: auto;
                width: 100%;
              }
            }
          }

          .social-icons {
            display: flex;
            gap: 15px;
            justify-content: center;
            width: 80%;
            // margin: auto;
            margin-top: 10px;

            a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              color: #000;
            }
          }
        }
        // .res-mail {
        //   display: flex;
        //   flex-direction: row;
        //   justify-content: center;
        //   align-items: center;
        //   gap: 8px;
        //   width: 100%;
        //   // margin: auto;
        // }

        // .social-icons {
        //   display: flex;
        //   flex-direction: row;
        //   gap: 10px;
        //   justify-content: center;
        //   margin: auto;
        //   padding-left: 0;
        //   margin-top: 20px;
        // }
      }
    }

    .skill-section {
      background-color: #000;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 100%;
      padding-left: 0;

      .custom-icon {
        font-size: 80px;
        padding-top: 80px;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
        width: 90%;
        text-align: left;
      }

      .skill-title p {
        font-size: 24px;
        font-weight: 900;
      }

      ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
        width: 80%;
        padding-left: 0;
        // display: flex;
        flex-wrap: wrap;
        // padding: 20px;
      }

      li {
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        border: solid 1px rgb(14, 6, 1);
        border-radius: 5px;
        // margin: auto;
        background-color: #bbd3d8;
        color: rgb(212, 11, 11);
      }
    }
  }

  .blog {
    background-color: #bbd3d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 10px #cf0505;
    border-bottom: solid 10px #cf0505;
    margin-top: 50px;
    // padding-top: 50px;
    padding: 50px;
    margin-bottom: 100px;
    width: 40%;
    margin: auto;

    a {
      border-left: solid 3px #cf0505;
      padding-left: 20px;
      font-weight: 900;
    }
  }
}

@media (min-width: 768px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // margin: auto;

    .about {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      margin-bottom: 100px;

      .user-icon {
        width: 100px;
        font-size: 80px;
        padding-top: 80px;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .about-me {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 80px;
        border: solid 1px rgb(14, 6, 0);
        border-left: solid 10px #5606eb;

        .about-me-intro {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-top: 60px;
          padding-bottom: 60px;
          width: 70%;
          margin: auto;
          // background-color: #e90f0f;

          .intro-text {
            font-size: 22px;
            width: 40%;
          }

          .img-profile {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 35px;
            margin: 20px;

            img {
              width: 100%;
              border-radius: 100%;
              border: solid 2px  rgb(0, 0, 0);
            }

            .res-mail {
              display: flex;
              flex-direction: row;
              width: 80%;
              margin: auto;
              gap: 10px;

              .my-resume {
                background-color: #070eec;
                border-radius: 20px;
                color: white;
                width: 100%;
                margin: auto;
                padding: 10px;
                font-weight: 900;
              }

              .mailto {
                border-radius: 20px;
                border: solid 1px #0905f0;
                font-size: 15px;
                padding: 8px;

                a {
                  color: #000;
                  text-decoration: none;
                  font-weight: 900;
                }
              }
            }

            .social-icons {
              display: flex;
              gap: 15px;
              justify-content: center;
              width: 80%;
              // margin: auto;
              margin-top: 10px;

              a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: #000;
              }
            }
          }
        }
      }

      .skill-section {
        background-color: #050000;
        // color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
        // margin: auto;
        width: 100%;
        padding-left: 0;

        .custom-icon {
          font-size: 80px;
          padding-top: 80px;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        h3 {
          font-size: 18px;
          width: 90%;
          text-align: center;
        }

        .skill-title p {
          font-size: 24px;
          font-weight: 900;
        }

        ul {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin: auto;
          width: 100%;
          padding-left: 0;
          // flex-wrap: wrap;
        }

        li {
          // white-space: nowrap;
          margin-right: 10px;
          // padding: 10px;
          // border: solid 1px rgb(14, 6, 1);
          border-radius: 5px;
          // margin: auto;
          // background-color: #bbd3d8;
          // background-color: #eb1010;

          img {
            width: 50px;
            // background-color: #eb1010;
          }
        }
      }
    }

    .blog {
      background-color: #bbd3d8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: solid 10px #cf0505;
      border-bottom: solid 10px #cf0505;
      margin-top: 50px;
      // padding-top: 50px;
      padding: 50px;
      margin-bottom: 100px;
      width: 40%;
      margin: auto;

      a {
        border-left: solid 3px #cf0505;
        padding-left: 20px;
        font-weight: 900;
      }
    }
  }
}
