@import './../scss/config';

@media (max-width: 786px) {
  .about {
    display: flex;
    flex-direction: column;
    // margin-top: 50px;

    .about-me {
      // padding-top: 20px;
      margin: auto;
      width: 100%;
      border: solid 1px rgb(14, 6, 0);
      margin-bottom: 100px;
      padding-bottom: 50px;
      padding-top: 50px;
      background-color: #000;
      color: #fff;

      .about-me-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .custom-icon {
          // font-size: 100px;
          // width: 30%;
          padding-top: 80px;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .intro-text {
          font-size: 1em;
          // padding: 20px;
          width: 80%;
          margin: auto;
          text-align: left;

          .my-tech-stack {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;

            h2 {
              padding-bottom: 0;
            }

            p {
              padding-top: 0;
            }

            ul {
              display: flex;
              justify-content: center;
              gap: 20px;
              width: 50%;
              margin-bottom: 50px;
              padding-left: 0;
              flex-wrap: wrap;
              width: 100%;

              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.9em;

                img {
                  width: 40%;
                }
              }
            }
          }
        }

        .img-profile {
          // background-color: #b20707;
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 35px;
          margin: auto;

          img {
            width: 80%;
            margin: auto;
            border-radius: 100%;
            border: solid 2px  rgb(0, 0, 0);
          }

          .my-resume {
            background-color: #b20707;
            border-radius: 20px;
            color: white;
            width: 60%;
            margin: auto;
            padding: 8px;
            font-size: 14px;
            font-weight: 900;
          }

          .social-icons {
            display: flex;
            gap: 15px;
            justify-content: center;
            width: 80%;
            margin-top: 10px;

            a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              color: #fff;
            }
          }
        }
      }
    }

    .skill-section {
      background-color: #000;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 100%;
      padding-left: 0;

      .custom-icon {
        font-size: 80px;
        padding-top: 80px;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
        width: 90%;
        text-align: left;
      }

      .skill-title p {
        font-size: 24px;
        font-weight: 900;
      }

      ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
        width: 80%;
        padding-left: 0;
        flex-wrap: wrap;
      }

      li {
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        border: solid 1px rgb(14, 6, 1);
        border-radius: 5px;
        background-color: #bbd3d8;
        color: rgb(212, 11, 11);
      }
    }
  }

  .blog {
    // background-color: #bbd3d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 10px #cf0505;
    border-bottom: solid 10px #cf0505;
    // margin-top: 50px;
    padding: 50px;
    // margin-bottom: 100px;
    width: 70%;
    margin: auto;

    h1 {
      font-size: 1.497em;
    }

    h2 {
      font-size: 1em;
    }

    p {
      width: 100%;
      margin: auto;
      margin-bottom: 30px;
      text-align: left;
    }

    .readmore {
      background-color: #000;
      color: white;
      border-radius: 20px;
      font-weight: 900;
      padding: 5px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('../../images/tech4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 50px;

    .about {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      margin-bottom: 100px;

      .user-icon {
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .about-me {
        padding-top: 80px;
        padding-bottom: 80px;
        border: solid 1px rgb(14, 6, 0);
        background-color: #000;
        width: 80%;
        margin: auto;
        border-radius: 50px;

        h1 {
          padding-bottom: 80px;
          font-size: 2.9em;
        }

        .about-me-intro {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-top: 0;
          width: 100%;
          margin: auto;
          gap: 10px;

          .intro-text {
            font-size: 1.8em;
            text-align: left;
            width: 50%;

            .my-tech-stack {
              width: 100%;

              h2 {
                padding-bottom: 0;
              }

              p {
                padding-top: 0;
              }

              ul {
                display: flex;
                flex-direction: row;
                justify-content: left;
                margin: auto;
                padding-left: 0;
                flex-wrap: wrap;
                gap: 20px;

                li {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 5px;

                  img {
                    width: 40%;
                  }
                }
              }
            }
          }

          .img-profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            gap: 35px;
            margin-bottom: auto;

            img {
              padding-top: 10px;
              background-color: #e70a0a;
              margin-bottom: 0;
              padding-bottom: 0;
              border-radius: 100%;
              border: solid 2px  rgb(0, 0, 0);
            }

            .my-resume {
              background-color: #eb0b0b;
              border-radius: 15px;
              color: white;
              width: 50%;
              padding: 10px;
              font-weight: 900;
              font-size: 1.3em;
              margin: auto;
            }

            .social-icons {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 0;
              gap: 25px;
              width: 100%;
              margin-top: auto;

              a {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .blog {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
      padding: 50px;
      margin-bottom: 100px;
      width: 60%;
      margin: auto;
      color: #fff;

      h1 {
        font-size: 44px;
        font-weight: 900;
      }

      h2 {
        font-size: 28px;
        color: #fff;
      }

      a {
        padding-left: 20px;
      }

      p {
        font-size: 28px;
        color: rgb(255, 255, 255);
        border-left: solid 10px #fff;
        margin-bottom: 10px;
        padding-left: 20px;
        margin: auto;
        text-align: left;
      }

      .readmore {
        background-color: #fff;
        color: rgb(0, 0, 0);
        width: 20%;
        border-radius: 10px;
        margin: auto;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        margin-top: 50px;
        font-weight: 900;
        text-align: center;
      }
    }
  }
}
