@import './../scss/config';

.navigation-bar-container {
  position: absolute;
  margin-top: -80px;
  // width: 80%;
  // background-color: #e00c0c;

  .menu-icon {
    position: fixed;
    top: 13px;
    left: 310px;
    padding: 5px;
    background-color: #d7d2d2;
    color: rgb(9, 0, 0);
    border-radius: 20px;
    margin-left: 20px;
    z-index: 2;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20px;
    right: -1px;
    color: white;
    background-color: #d8d3d3;
    text-align: center;
    gap: 10px;
    padding-top: 100px;
    height: 100%;
    width: 70%;

    li {
      background-color: #180101;
      color: #fff;
      padding: 20px;
      border-radius: 15px;
      width: 80%;
      font-weight: 900;
    }

    li a:visited {
      color: #fff;
    }
  }
}
