@import './../scss/config';

@media (max-width: 768px) {
  .navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: auto;
    box-sizing: border-box;
    position: fixed;
    // right: -8px;
    // margin-top: -100px;
    width: 100%;
    // height: 100%;
    // background-color: #e00c0c;

    .menu-icon {
      // display: flex;
      // flex-direction: column;
      // justify-content: right;
      // position: relative;
      // top: 20px;
      // left: 680px;
      padding: 5px;
      // margin: auto;
      background-color: #d7d2d2;
      color: rgb(9, 0, 0);
      border-radius: 15px;
      margin-right: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      z-index: 2;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: right;
      position: fixed;
      // justify-content: center;
      // top: -80px;
      left: 35px;
      // right: 70px;
      margin: auto;
      background-color: #d8d3d3;
      text-align: center;
      gap: 10px;
      padding-top: 100px;
      height: 100%;
      width: 80%;

      li {
        background-color: #180101;
        color: #fff;
        padding: 20px;
        border-radius: 15px;
        width: 80%;
        font-weight: 900;
      }

      li a:visited {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .desktop-nav-container {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top:0;
    opacity: 0.9;
    // margin-top: 0;
    // background-color: #f00e0e;

    .navigation-menu {
      // background-color: #e61010;
      color: #060000;
      display: flex;
      flex-direction: row;
      justify-content: right;
      gap: 20px;
      padding: 10px;
      margin-right: 80px;

      li {
        // background-color: #180101;
        // border-radius: 15px;
        font-weight: 500;

        a {
          color: #070000;
          font-size: 1.9em;
        }
      }

      li a:visited {
        color: #070000;
      }
    }
  }
}
