@import './../scss/config';

.navigation-bar-container {
  display: flex;
  position: fixed;
  z-index: 2;
    // width: 100%;
  color: rgb(9, 0, 0);
  margin-top: -80px;
  padding-top: 0;
 font-size: 20px;
 background-color: #c01111;
 width: 30%;


  .menu-icon {
    // display: flex;
    position: fixed;
    top: 20px;
    padding: 5px;
    background-color: #afa6a6;
    color: rgb(9, 0, 0);
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 40px;

  }

  // .logo {
  //   display: flex;
  //   align-items: center;
  //   width: 30%;
  //   height: 80%;
  //   padding-left: 100px;
  // }

  .navigation-menu {
    display: flex;
    flex-direction: column;
    // height: 100%;
    margin-top: 50px;
    color: white;
    background-color: #d8d3d3;
    text-align: center;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 100%;
      width: 100%;

    li {
      background-color: #180101;
      color: #fbfbfb;
      padding: 20px;
      border-radius: 15px;
      // margin: 20px;
      margin-left: 1px;
      width: 80%;
      font-weight: 900;
    }
    .navigation-menu:visited {
        color: #0bfd48;
    }
  }
}
