@import './../scss/config';

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 140px;
  width: 80%;
  margin: auto;

  h1 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 0;
  }

  .contact-me {
    .form-group {
      .get-in-touch {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 50px;
        width: 100%;
        margin: auto;
        padding-bottom: 50px;

        input {
          border: solid 1px #000;
          height: 40px;
          width: auto;
          padding: 5px;
          padding-left: 20px;
        }

        textarea {
          border: solid 1px #000;
          // height: 40px;
          width: auto;
          padding: 5px;
          padding-left: 20px;
        }

        .get-in-touch-btn {
          width: 100%;
          background-color: #0f43eb;
          padding: 20px;
          font-size: 18px;
          color: rgb(255, 255, 255);
          border-radius: 12px;
        }
      }
    }
  }
}
