@import './../scss/config';

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 140px;
  width: 80%;
  margin: auto;

  h1 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 0;
  }

  .contact-me {
      display: flex;
      flex-direction: column;
    justify-content: center;
    // width: 100%;
    // margin: auto;

    .get-in-touch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-top: 70px;
    //   margin: auto;

      input {
        border: solid 1px #000;
        height: 40px;
        width: 100%;
        padding: 5px;
        padding-left: 20px;
      }

      textarea {
        border: solid 1px #000;
        // height: 40px;
        width: 100%;
        padding: 5px;
        padding-left: 20px;
      }
    }
  }
}
