@import './../scss/config';

.homepage {
  // background-color: #010000;
}
.intro-container {
  display: flex;
  flex-direction: column;
  // width: 90%;
  padding-top: 80px;
  text-align: center;
  margin: 20px;

  h1 {
    font-size: 65px;
    width: 50%;
    padding-bottom: 0;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    font-weight: 900;
  }

  h2 {
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 0;
    // padding-bottom: 0;
  }

  p {
    font-size: 24px;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
  }

  .res-mail {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .my-resume {
      padding: 20px;
      background-color: #000;
      border-radius: 20px;
      color: white;
      font-weight: 900;
      margin-bottom: 20px;
      width: 50%;
    }

    .mailto {
      width: 60%;
      padding: 20px;
      background-color: #fff;
      border-radius: 20px;
      color: rgb(4, 0, 0);
      font-weight: 900;
      border: solid 1px #000;
      text-decoration: none;
    }
  }
}

// .social-icons-container {
//   position: relative;
//   top: -50px;
//   left: -1040px;
//   // size: 50px;

//   li {
//     padding-bottom: 50px;
//   }
// }

// .profile-pic {
//   position: relative;
//   width: 60%;
//   display: flex;
//   right: -900px;
//   // top: -400px;
//   z-index: 2;

//   img {
//     width: 100%;
//     border-radius: 1000px;
//   }
