@import './../scss/config';

.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 50px;

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: auto;
    width: 100%;
    padding-left: 0;
  }
}
  .copyright {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;

    .custom-icon {
      font-size: 30px;
      padding-bottom: 10px;
      margin-bottom: 100px;
    }
  }
