@import './../scss/config';

@media (max-width: 768px) {
  .my-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #000;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;

    .custom-icon {
      font-size: 80px;
      padding-top: 80px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .projects-title {
      text-align: center;
      font-size: 45px;
      padding-top: 5px;
      padding-bottom: 50px;
    }

    .project-container {
      margin: auto;
      gap: 30px;
      width: 80%;
      border-radius: 40px;
      color: #fff;
      padding-bottom: 50px;
      text-align: left;

      .item-card {
        page-break-after: always;
        background-color: #3c0cea;
        border-radius: 10px;
        margin-bottom: 30px;
        padding-bottom: 1px;
      }

      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }

      .text-content {
        margin: 10px;
      }

      .lang {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
        margin: auto;
        padding-left: 0;
        padding-bottom: 20px;

        .li-container {
          display: flex;
          flex-direction: row;
        }
      }

      .view-btns {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 40px;

        a {
          padding: 10px;
          background-color: #fff;
          color: black;
          border: solid 1px #000;
          border-radius: 15px;
          font-size: 10px;
          font-weight: 900;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .my-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #000;
    color: #fff;
    padding-top: 200px;
    margin-bottom: 100px;

    .custom-icon {
      font-size: 80px;
      padding-top: 80px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .projects-title {
      text-align: center;
      font-size: 45px;
      padding-top: 5px;
      padding-bottom: 50px;
    }

    .project-container {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      margin: auto;
      gap: 30px;
      border-radius: 40px;
      color: #fff;
      text-align: center;
      width: 90%;

      .item-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #100cea;
        border-radius: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;

        img {
          width: 100%;
          border-radius: 10px 10px 0 0;
        }

        .text-content {
          display: flex;
          flex-direction: column;
          gap:20px;
          // background-color: #e61212;

          .text {
            margin: 10px;
            word-wrap:break-word;
            // background-color: #ec1b1b;

            h2 {
              font-size: 1em;
            }

            .desc {
              font-size: 0.9em;
              height: 8vh;
              // margin-bottom: 10px;
            }
          }
        }

        .lang {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          width: 100%;
          align-items: center;
          margin: auto;
          padding-left: 0;
          font-size: 0.8em;

          p {
            text-align: center;
            background-color: #fff;
            color: #100cea;
            font-weight: 900;
            width: 50%;
            border-radius: 5px;
            padding: 5px;
          }

          .li-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
            // size: 33px;
          }
        }

        .view-btns {
          display: flex;
          gap: 20px;
          justify-content: center;
          margin-top: 20px;

          a {
            display: flex;
            background-color: #fff;
            color: rgb(9, 24, 237);
            border: solid 1px #000;
            border-radius: 15px;
            font-size: 0.7em;
            font-weight: 900;
            padding: 5px;
          }
        }
      }
    }
  }
  // .footer-nav {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   margin-top: 100px;

  //   ul {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     gap: 30px;

  //     li {
  //       font-weight: 900;
  //     }
  //   }
  // }
}
