@import './../scss/config';

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: #000;
  color: #fff;
  margin-top: 100px;

  .projects-title {
    text-align: center;
    font-size: 45px;
    // background-color: #a11010;
  }

  .project-container {
    margin: auto;
    gap: 30px;
    width: 80%;
    background-color: #ea0c0c;
    border-radius: 40px;
    color: #fff;
    // padding: 5px;
    text-align: left;

    .item-card {
      page-break-after: always;
    }

    img {
      width: 100%;
      // border-radius: 40px;
    }

    .text-content {
      margin: 10px;
    }

    .lang {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      align-items: center;
      margin: auto;
      padding-left: 0;
    }

    .view-btns {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 100px;

      a {
        padding: 10px;
        background-color: #fff;
        color: black;
        border: solid 1px #000;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
